.search-form{
    padding: 20px 0 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: baseline;
}

input{
    width: 80%;
    border: 1px solid #ccc;
    height: 38px;
    border-right: 0;
    padding: 10px;
}

button{
    width: 20%;
    height: 38px;
}

@media screen and (max-width: 800px) {
    input{
        width: 65%;
    }
    button{
        width: 35%;
    }
}
